<app-usernav></app-usernav>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-6">
            
            <div class="card mt-3" >
                
                <div class="card-body">
                  <h5 class="card-title">{{data[0].name}}</h5>
                  
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Address:{{data[0].address}}</li>
                  <li class="list-group-item">PhoneNo:{{data[0].phoneNo}}</li>
                  <li class="list-group-item">Email:{{data[0].email}}</li>
                  <li class="list-group-item">Username:{{data[0].userName}}</li>
                </ul>
                
              </div>
        </div>
    </div>
</div>
